<div class="row">
	<div class="col-md-2 col-sm-6">
		<app-side-bar (update)="updateView()"></app-side-bar>
	</div>
	<div class="col-md-8 col-sm-6">
		<div class="container">
			<app-pagination (pageChanged)="updateView()"></app-pagination>
			<app-pagesize-dropdown (pageSizeChanged)="updateView()"></app-pagesize-dropdown>
			<app-master-filter (update)="updateView()"></app-master-filter>
			<app-sorter (update)="updateView()"></app-sorter>
			<div class="row">
		
				<!-- BEGIN PRODUCTS -->	
				<div class="col-md-3 col-sm-6" *ngFor="let pe of dataCollection$ | async">
					<span class="thumbnail" href="/">
						<a href="/"></a>
						  <img src="http://placehold.it/250x200" alt="..." (click)="showDetails(pe.id)">
						  <h4>{{pe.title}}</h4>
						  <div class="authors-list">
							<p>{{getAuthorsList(pe)}}</p>
						  </div>
						  <hr class="line">
						  <div class="row">
							  <div class="col-md-6 col-sm-6">
								  <p class="price"><span class="price">$</span>{{pe.price}}</p>
							  </div>
							  <div class="col-md-6 col-sm-6">
								  <button class="btn btn-success right" (click)="addToCart(pe)"> BUY </button>
							  </div>
						  </div>
					</span>
				  </div> 
				<!-- END PRODUCTS -->
		
			</div>
		</div>
	</div>
</div>


