<div class="page-wrap d-flex flex-row align-items-center">
    <div class="container">
    	<div class="row">
            <section class="col-md-9">
                <h1>Set a new password</h1>
                <hr>
                <form [formGroup]="resetPasswordForm">
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                        </div>
                        <input type="password" class="form-control" formControlName="newPassword" placeholder="New password">
                    </div> <!-- form-group// -->
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                        </div>
                        <input type="password" pattern="{{this.resetPasswordForm.get('newPassword')?.value}}" class="form-control" formControlName="confirmNewPassword" placeholder="Confirm password" >
                    </div> <!-- form-group// -->
                    <button type="submit" (click)="onSubmit()" [disabled]="!resetPasswordForm.valid" class="btn btn-primary mb-4">Send email</button>
                    
                </form>
            </section>
        </div>
    </div>
</div>