<div class="page-wrap d-flex flex-row align-items-center">
    <div class="container">
    	<div class="row">
    		<div class="col-md-3">
    		    <img src="https://via.placeholder.com/190x190.png?text=logo" class="img-fluid rounded-circle shadow-sm" alt="Logo" />
    		</div>
    		<div class="col-md-9">
    		    <h2 class="font-weight-light" align="center">Forgot your password?</h2>
    		    Not to worry. Just enter your email address below and we'll send you an instruction email for recovery.
    		    <form class="mt-3" [formGroup] = "forgotPasswordForm">
    		        <input class="form-control form-control-lg" type="email" formControlName="email" placeholder="Your email address"/>
    		        
    		        <div class="text-right my-3">
						<!-- <button type="button" class="btn btn-outline-primary" (click)="pay()" [disabled]="loading === true">
							<span *ngIf="loading===true" class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
							Pay
						</button> -->
						<button type="submit" class="btn btn-lg btn-success" [disabled]="!forgotPasswordForm.valid || loading" (click)="onSubmit()">
							<span *ngIf="loading===true" class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
							Change password</button>
    		        </div>
    		    </form>
    		</div>
    	</div>
    </div>
</div>